<section class="pagination" ng-if="!$ctrl.loading && $ctrl.metadata && $ctrl.metadata.total_pages > 0">
    <button class="btn btn-nav" ng-disabled="$ctrl.currentPage <= 1" ng-click="$ctrl.onGoToPage({page: $ctrl.currentPage - 1})">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M15 18l-6-6 6-6"/></svg>
    </button>
    
    <div class="page-numbers">
        <button class="page-btn" 
                ng-repeat="p in $ctrl.getPageRange()" 
                ng-class="{'active': p === $ctrl.currentPage}"
                ng-click="$ctrl.onGoToPage({page: p})">
            {{ p }}
        </button>
    </div>

    <button class="btn btn-nav" ng-disabled="$ctrl.currentPage >= $ctrl.metadata.total_pages" ng-click="$ctrl.onGoToPage({page: $ctrl.currentPage + 1})">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M9 18l6-6-6-6"/></svg>
    </button>
</section>
